<%- include('partials/header.ejs'); -%>

<div class="box-heading" id="heading">
  <h1>
    Notepad 📝✔ <br> Today
  </h1>
  <p>
    <%= new Date().toDateString() %>
  </p>
</div>

<div class="box">
  <% for(let note of notes) { %>
    <div class="note">
      <form action="/delete" method="post">
        <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= note.id %>">
      </form>

      <p id="title<%= note.id %>">
        <%= note.notes %>
      </p>

      <button id="edit<%= note.id %>" class="edit" onclick="startEdit('<%= note.id %>', '<%= note.notes %>')">
        <img class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image">
      </button>
    </div>
  <% } %>

  <form class="item" action="/add" method="post" id="noteForm">
    <input type="hidden" name="noteId" id="noteId" value="">
    <input type="text" name="newNote" id="newNote" placeholder="New Note" autocomplete="off" autofocus="true" />
    <button class="add" type="submit" name="list" value="add" id="addButton">+</button>
  </form>
</div>

<script>
  function startEdit(id, content) {
    // Setting the form fields for editing
    document.getElementById('noteId').value = id;
    document.getElementById('newNote').value = content;
  }

  document.getElementById('noteForm').addEventListener('submit', function(event) {
    const noteId = document.getElementById('noteId').value;
    if (noteId) {
      // changing the form action to /edit
      this.action = '/edit';
    } else {
      // else action remains as /add
      this.action = '/add';
    }
  });
</script>

<%- include('partials/footer.ejs'); -%>